body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: normal;
}

/* inicio header */
header {
    background-color: #1e9a83;
    display: flex;
    flex: center;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

header #foto {
    display: flex;
    flex: left;
    max-width: 960px;
    margin: 0;
    padding: 0;
    border: solid 2px rgb(10, 60, 22);
}

#titulo {
    display: flex;
    align-items: center;
    align-content: center;
    max-width: 960px;
    margin: auto;
    color: black;
    font-size: 40px;
    font: weight 50px;
    font-weight: bold;
}

/* fin header */

/* inicio botonera */
nav {
    background-color: #7dd1c2;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

nav ul li a.activo {
    background-color: #2f656e;
}

/* fin botonera */

/* inicio footer  */
footer {
    background-color: #ccc;
    clear: both;
    color: #333;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}

/* fin footer */

.holder {
    max-width: 80%;
    margin-left: 10%;
}


/* inicio home */


.columnas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.bienvenidos {
    flex: 35%;
    padding-right: 20px;
}

.bienvenidos h2 {
    color: #1e9a83;
}

.objetivos {
    flex: 60%;
}

.objetivos h2 {
    color: #1e9a83;

}

@media (max-width:1300px) {
    .bienvenidos {
        flex: 100%;
    }
}

/* fin home */

/* inicio mi perfil */
.miperfil {
    border: solid 3px#1e9a83;
    margin-top: 10px;
}

.miperfil h1 {
    text-align: center;
    color: #1e9a83;
}

.miperfilcol {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.miperfilcol h1 {
    color: black
}

.miperfilcol h2 {
    text-align: center;
    color: #61c8b5
}

.miperfilcol ul {
    text-align: left;
}

.columnap {
    border: solid 3px #1e9a83;
    margin: 10px;
    padding: 10px;
    text-align: center;
    flex: 20%;
}

@media (max-width:1200px) {
    .columnap {
        flex: 40%;
    }
}

@media (max-width:800px) {
    .columnap {
        flex: 100%;
    }
}

#micv h1 {
    text-align: center;
    border: solid 3px#1e9a83;
    color: #1e9a83;
}

/* fin mi perfil */

/* inicio mis trabajos */

.mistrabajos h1 {
    text-align: center;
    color: #1e9a83;
}

.mistrabajos h3 {
    /* display: inline; para que el color de fondo solo ocupe el ancho de las palabras */
    background-color: rgb(201, 201, 201);
    padding: 10px;
    text-align: center;
    color: #1e9a83;
}

.trabajo .trabajolink {
    display: block;
    text-align: center;
    font-weight: 150;
    font-style: italic;
}

.carousel {
    background-color: #1e9a83;
    ;
}

.carousel-item {
    padding-bottom: 50px;
    padding-top: 50px;
    min-height: 704px;
    max-width: 306px;
    margin-left: 38%;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-item h6 {
    text-align: center;
    padding-top: 20px;
    color: white;
}

.card-columns .card {
    display: inline-block;
}

.card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}


.carousel-indicators {
    background-color: #1e9a83;
    opacity: 50%;
}

/* fin mis trabajos */

/* inicio servicios */

.servicio {
    padding: 15px;
    margin: 15px 0;
    border: 1px solid grey;
    border-radius: 30px;
    display: flex;
    gap: 32px;
    align-items: center;
}

.servicios h1 {
    text-align: center;
    color: #1e9a83;
}

.servicio h4 {
    margin: 23px;
    color: #1e9a83;
    font-size: 2rem;
    border-bottom: 1px solid #1e9a83;
    padding-bottom: 10px;
}

.servicio ul {
    font-style: italic;
}

.servicio img {
    border-radius: 15px;
    display: block;
    max-width: 225px;
}

.servicio:nth-child(even) {
    flex-direction: row-reverse;
}

/* fin servicios */

/* inicio contacto */

.contactos {
    display: flex;
    justify-content: center;
    gap: 20%;
}

.contactos h1 {
    color: #1e9a83;
}

.datos .listacont .logos {
    text-align: center;
}

.formulario p {
    display: flex;
}

.formulario p label {
    min-width: 80px;
    display: flex;
    align-items: center;
}

.formulario textarea {
    resize: none;
    height: 150px;
    background-color: antiquewhite;
}

.formulario input[type="text"] {
    background-color: antiquewhite;
}

.formulario input[type="submit"] {
    background: #1e9a83;
    padding: 6px 20px;
    width: auto;
    position: relative;
    left: 5rem;
    cursor: pointer;
}

.formulario input[type="submit"]:hover {
    background-color: #7dd1c2;
}


/* fin contacto */