footer {
    background-color: rgb(85, 82, 82);
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    border: 2px outset #beab1f;
}

#flotante {
    position: fixed;
    margin-left: 92%;
    padding: 1%;
    bottom: 1%;
}

#flotante img {
    width: 70%;
    height: 70%;
}

.redes img {
    width: 60px;
    padding: 10px;
    justify-content: space-between;
}

.derechos {
    border: 2px outset #beab1f;
    background: #bcbcbc;
    flex: 100%;
    text-align: center;
    padding-bottom: 10px;
}