/* inicio mi perfil */
.miperfil {
    border: solid 3px#1e9a83;
    margin-top: 10px;
}

.miperfil h1 {
    text-align: center;
    color: #1e9a83;
}

.miperfilcol {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.miperfilcol h1 {
    color: black
}

.miperfilcol h2 {
    text-align: center;
    color: #61c8b5
}

.miperfilcol ul {
    text-align: left;
}

.columnap {
    border: solid 3px #1e9a83;
    margin: 10px;
    padding: 10px;
    text-align: center;
    flex: 20%;
}

@media (max-width:1200px) {
    .columnap {
        flex: 40%;
    }
}

@media (max-width:800px) {
    .columnap {
        flex: 100%;
    }
}

#micv h1 {
    text-align: center;
    border: solid 3px#1e9a83;
    color: #1e9a83;
}

/* fin mi perfil */

